---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer class="w-full h-1/20 min-h-[80px] bg-(--panel-main) text-(--panel-main-foreground) flex items-center justify-center">
	<span class="mr-[5px]">&copy; {today.getFullYear()} ptrptrd</span>
	<div class="social-links">
		<a href="https://github.com/ptrptrd" target="_blank">
			<Icon name="mdi:github" class="text-(--foreground) text-2xl mx-[5px]"></Icon>
		</a> 
	</div>
</footer>
