---
import HeaderLink from "./HeaderLink.astro";
---

<nav>
    <div class="internal-links bg-opacity/95 text-primary relative flex h-full w-full items-center justify-between rounded-full p-5 shadow-md bg-[#000000e6]">
        <div>
            <HeaderLink href=`${import.meta.env.BASE_URL}/` class="text-[color:--foreground]">Home</HeaderLink>
            <HeaderLink href=`${import.meta.env.BASE_URL}/blog`>Blog</HeaderLink>
        </div>
    </div>
</nav>