---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
---

<nav>
    <div class="internal-links bg-opacity/95 text-primary relative flex h-full w-full items-center justify-between rounded-50px p-5 shadow-md bg-[#000000e6]">
        <div>
            <HeaderLink href=`${import.meta.env.BASE_URL}/` class="text-(--foreground)">
                <Icon name="mdi:home" class="text-(--foreground)" href=`${import.meta.env.BASE_URL}/`/>
            </HeaderLink>
            <HeaderLink href=`${import.meta.env.BASE_URL}/blog`>
                <Icon name="mdi:tag" class="text-(--foreground)"/>
            </HeaderLink>
            <Icon name="mdi:search" class="text-(--foreground)"/>
        </div>
    </div>
</nav>